{% extends 'base.html' %}
{% load static %} 

{% block title %} MAGIS Air Crew Members {% endblock %}
{% block content %}
<h1>MAGIS Air Crew Members</h1>
<table>
    <tr>
        <th>Crew ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    {% for object in crewMembers %}
    <tr>
        <td>{{ object.crew_id }}</td>
        <td>{{ object.crw_fname }}</td>
        <td>{{ object.crw_lname }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{%url 'CrewAssignments:crewMember-add' %}">Add Member</a></p>
<p><a href="{%url 'CrewAssignments:crewAssignment-table'%}">Check Assignments</a></p>
<p><a href="{%url 'CrewAssignments:crewRole-table'%}">Check Roles</a></p>
<p><a href="{%url 'FlightBooking:booking-table'%}">Check Bookings</a></p>
<p><a href="{%url 'FlightRoutes:flight-table'%}">Check Flights</a></p>
<p><a href="{%url 'CrewAssignments:SQL_Query2'%}">Check Out Crew Assignments Functionality</a></p>
{% endblock %} 