{% extends 'base.html' %}
{% load static %} 

{% block title %} MAGIS Air Routes {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'details_style.css' %}">
<h1>MAGIS Air Routes</h1>
<table>
    <tr>
        <th>Route ID</th>
        <th>Route Origin</th>
        <th>Route Destination</th>
        <th>Route Price</th>
    </tr>
    {% for object in routes %}
    <tr>
        <td>{{ object.route_id }}</td>
        <td><a href="{%url 'FlightRoutes:location-table'%}">{{ object.rt_origin }}</a></td>
        <td><a href="{%url 'FlightRoutes:location-table'%}">{{ object.rt_destination }}</a></td>
        <td>{{ object.rt_price }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{%url 'FlightRoutes:route-add'%}">Add a Route</a></p>
<p><a href="{%url 'FlightRoutes:flight-table'%}">Check Flights</a></p>
<p><a href="{%url 'FlightRoutes:location-table'%}">Check Locations</a></p>
{% endblock %} 