{% extends 'base.html' %}
{% load static %} 

{% block title %} MAGIS Air Functionality{% endblock %}
{% block content %}
<h1>MAGIS AIR FLIGHT SCHEDULES FUNCTIONALITY</h1>
<table>
    <tr>
        <th>Flight</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Duration</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ i.flight_id }}</td>
        <td>{{ i.Origin }}</td>
        <td>{{ i.Destination }}</td>
        <td>{{ i.Departure }}</td>
        <td>{{ i.Arrival }}</td>
        <td>{{ i.Duration }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{%url 'FlightRoutes:flight-table'%}">Check Flights</a></p>
<p><a href="{%url 'FlightRoutes:location-table'%}">Check Locations</a></p>
{% endblock %} 